<app-header></app-header>
<div><router-outlet></router-outlet></div>
<div class="container mt-20">
  <h2 class="text-3xl font-bold underline">SUPP !!!</h2>
  <ul>
    @for (item of products; track item.id) {
      <li>{{ item.name }}</li>
    }
  </ul>
  <ul>
    @for (item of products; track item.id) {
      <li>{{ item.name }}</li>
    }
  </ul>
  <ul>
    @for (item of products; track item.id) {
      <li>{{ item.name }}</li>
    }
  </ul>
  <ul>
    @for (item of products; track item.id) {
      <li>{{ item.name }}</li>
    }
  </ul>
  <ul>
    @for (item of products; track item.id) {
      <li>{{ item.name }}</li>
    }
  </ul>
  <ul>
    @for (item of products; track item.id) {
      <li>{{ item.name }}</li>
    }
  </ul>
  <ul>
    @for (item of products; track item.id) {
      <li>{{ item.name }}</li>
    }
  </ul>
</div>
