@if (products) {
  <div class="flex flex-col gap-3">
    <div class="flex justify-between">
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="products.count"
        [pageSize]="pageSize"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="pageSizeOption"
        [pageIndex]="pageNumber - 1"
        aria-label="Select page"></mat-paginator>

      <form class="relative mx-4 flex w-full max-w-md items-center" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Search</mat-label>
          <input
            [formControl]="searchControl"
            matInput
            placeholder="Item name"
            [matAutocomplete]="auto" />
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            @for (fProduct of filteredProducts(); track fProduct.id) {
              <mat-option [value]="fProduct.name" [innerHTML]="fProduct.htmlContent"></mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <div class="flex gap-3">
        @if (
          (selectedBrandIds && selectedBrandIds.length > 0) ||
          (selectedTypeIds && selectedTypeIds.length > 0)
        ) {
          <button
            mat-mini-fab
            class="right-1 top-2 flex items-center gap-1"
            (click)="clearFilters()">
            <mat-icon fontIcon="filter_alt_off"></mat-icon>
          </button>
        }

        <button
          class="match-input-height flex items-center gap-1"
          mat-stroked-button
          (click)="openFiltersDialog()">
          <mat-icon fontIcon="filter_list"></mat-icon>
          <span>Filters</span>
        </button>
        <button
          class="match-input-height flex items-center gap-1"
          mat-stroked-button
          [mat-menu-trigger-for]="sortMenu">
          <mat-icon fontIcon="swap_vert"></mat-icon>
          <span>Sort</span>
        </button>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4">
      @for (product of products.data; track product.id) {
        <app-product-item [product]="product"></app-product-item>
      }
    </div>
  </div>

  <mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
      @for (sort of sortOptions; track $index) {
        <mat-list-option [value]="sort.value" [selected]="selectedSort === sort.value">
          {{ sort.name }}
        </mat-list-option>
      }
    </mat-selection-list>
  </mat-menu>
}
