@if (products) {
  <div class="flex flex-col gap-3">
    <div class="flex justify-between">
      <div>[Paginator Section]</div>
      <form
        #searchForm="ngForm"
        class="relative mx-4 flex w-full max-w-md items-center"
        (ngSubmit)="onSubmit(searchForm)">
        <mat-form-field appearance="outline">
          <mat-label>Seach</mat-label>
          <input
            name="seachValue"
            ngModel
            matInput
            placeholder="Item name"
            (ngModelChange)="onSearchChanges($event)"
            [matAutocomplete]="auto" />
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #auto="matAutocomplete">
            @for (fProduct of filteredProducts(); track fProduct.id) {
              <mat-option
                [value]="fProduct.id"
                [innerHTML]="'<span>' + fProduct.htmlContent + '</span>'"></mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <div class="flex gap-3">
        <button class="match-input-height flex items-center gap-1" mat-stroked-button>
          <mat-icon fontIcon="filter_list"></mat-icon>
          <span>Filters</span>
        </button>
        <button class="match-input-height flex items-center gap-1" mat-stroked-button>
          <mat-icon fontIcon="swap_vert"></mat-icon>
          <span>Sort</span>
        </button>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4">
      @for (product of products; track product.id) {
        <app-product-item [product]="product"></app-product-item>
      }
    </div>
  </div>
}
